<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <!--windows azure storage account used by orleans and event steam module, should be unique per cluster-->
    <add name="AzureStorageAccount" connectionString="UseDevelopmentStorage=true;" />
    <!--cluster id, should be unique host per cluster -->
    <add name="ClusterId" connectionString="chat-host" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>